.widthcus{min-width: 30px !important; max-width: 30px;}
.other-bg{    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;}
.other-bg item button{border: 2px solid #ff8d00;
    color: #ff8d00;font-size: 16px;}
    .other-bg item button:hover{border: 2px solid #ff8d00;
        color: #fff;background-color: #ff8d00;}